<h1 class="text-center">Carrito</h1>

<div class="container">
  {{#each productos}}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Producto: {{this.product.title}}</h5>
        <p class="card-text">Cantidad: {{this.quantity}}</p>
        <p class="card-text">Precio: ${{this.product.totalPrice}}</p>
        <button class="btn btn-danger eliminar-producto-btn"
                data-cart-id="{{../cartId}}"
                data-product-id="{{this.product._id}}">
          Eliminar
        </button>
      </div>
    </div>
  {{/each}}
</div>

<button id="vaciarCarritoBtn" class="btn btn-danger" data-cart-id="{{cartId}}">
  Vaciar Carrito
</button>

<h3 class="mt-2">Total de la compra: ${{totalCompra}}</h3>

<a href="/products" class="btn btn-primary mt-3">Volver a Productos</a>

<button id="checkoutBtn" class="btn btn-success mt-3" data-cart-id="{{cartId}}">
  Finalizar Compra
</button>

<script src="/js/cartActions.js"></script>
