<div>
  <h1>{{product.title}}</h1>
  <p>Descripción: {{product.description}}</p>
  <p>Precio: ${{product.price}}</p>
  <p>Categoría: {{product.category}}</p>
  <button id="addToCartBtn" data-product-id="{{product.id}}">Agregar al carrito</button>
</div>